/* GLOBAL*/
ol, ul {
	list-style: none;
}

.app-container {
  width : 87% !important;
}

table .filter {
    height : 26px !important;
    font-size : 12px !important;
}

td {
	overflow : visible !important;
}

.react-bs-container-body, .table-responsive {
	overflow-x: visible !important;
	overflow-y: visible !important;
}

.green-row {
	background-color : #BCED91;
}

.yellow-row {
	background-color : #ffffb2;
}

.red-row {
	background-color : #F08080;
}

/* Songs */

#songs-table .colName {
	width : 20%;
}

#songs-table  .colLvl {
	width : 6%;
}

#songs-table table tr td:first-child, #songs-table table tr th:first-child {
  width : 6em;
}