/* GLOBAL*/

.app-container {
  width : 87% !important;
}

table .filter {
    height : 26px !important;
    font-size : 12px !important;
}

table td {
	overflow : inherit !important;
}

#songs-table table tr td:first-child, #songs-table table tr th:first-child {
  width : 6em;
}