/* GLOBAL*/
ol, ul {
	list-style: none;
}

table .filter {
    height : 26px !important;
    font-size : 12px !important;
}

td {
	overflow : visible !important;
}

.react-bs-container-body, .table-responsive {
	overflow-x: visible !important;
	overflow-y: visible !important;
}

.green-row {
	background-color : #BCED91 !important;
}

.yellow-row {
	background-color : #ffffb2 !important;
}

.red-row {
	background-color : #F08080 !important;
}

/* Songs */

#songs-table .colName {
	width : 20%;
}

#songs-table  .colLvl {
	width : 6%;
}

#songs-table .song-chart {
  width : 6em;
  background : #FFF !important;
}